.home-page{
    margin-top: 8rem;
    margin-bottom: 8rem;
    .item{
        padding: 1.5rem 1rem;
        font-size: 14px;
        font-weight: bold;
        .index{
            margin-right: 1rem;
            color: #000000
        }
    }
    .list-header{
        font-size: 21px;
    }
    .lists-column{
        width: 20%;
    }
}


///////////////////////////////////////////////////////////////////////////

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 450px) {
    .home-page{
        margin-left: 3rem;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}