.home-page{
    margin-top: 8rem;
    .item{
        padding: 2rem 1rem;
        font-size: 14px;
        font-weight: bold;
        .index{
            margin-right: 1rem;
            color: #000000
        }
    }
}