.list-item{
    border: 1px solid $border-color;
    border-radius: 12px;
    margin: 4rem 0px;
    padding: 0px;
    .item-info-section > span{
        
    }
    .vote-panel{
        font-size: $xl-size;
        text-align: center;
        border-right: 1px solid $border-color;
        line-height: 1.2;
        padding: 1rem 2rem;
        color: #fff;
        .vote_button{
            margin-bottom: 0.25rem;
            margin-top: 0.25rem;
        }
        .vote_button:hover{
            .fa-circle{
                color: #286ec0
            }
        }
        .fa-angle-up{
            top: -2px;
        }
        .fa-angle-down{
            top: 2px;
        }
        .total-votes{
            font-size: 21px;
            font-weight: bold;
            color: #000000;
            i{
                font-size: 22px;
            }
        }
    }
    .vote-panel > i {
        margin: 0 5px;
    }

    .info-panel{
        width: 100%;
        position: relative;
        padding: 2rem 4rem;
        h2{
            margin-top: 0px;
        }
        .item-info-section{
            position: absolute;
            bottom: 2rem;
            font-size: 14px;
            font-weight: normal;
        }
        .item_desc{
            font-size: 16px;
            font-weight: normal;
        }
    }
    .info-panel > * {
        margin-bottom: 2rem;
    }
    .info-panel:last-child div{
        margin-bottom: 0px;
    }
    .fa-circle{
        color: $lightgrey;
    }
    .fa-lg{
        font-size: 30px;
    }
    .fa-lg:hover{
        cursor: pointer;
        box-sizing: border-box;
    }
}

//////////////////////////////////////////////////

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 450px) {
    .list-item{
        .vote-panel{
            border-right: 0px;
            border-top: 1px solid $border-color;
            .total-votes{
                padding-top: 10px;
            }
        }   
        .info-panel{
            h3{
                margin-top: 0px;
            }
            padding: 2rem;
            .item-info-section{
                bottom: 4rem;
                margin-left: 0px;
                margin-right: 0px;
            }
            .item-info-section:first-child {
                margin-right: 1rem;
            }
            .item-info-section:last-child {
                margin-left: 1rem;
            }
            p.secondry-text{
                padding-bottom: 2rem;
            }
            .item_desc{
                font-size: 14px;
                font-weight: normal;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}