.list-action-buttons button{
    width: 80%;
    margin: 10px auto;
}
.right-section {
    padding: 3rem 6rem;
}
.list-items{
    margin: 6rem 0px;
}
.listing-section{
    padding: 5rem 0px;
}
.list-info{
    border-bottom: 0px;
    .actions{
        font-size: 14px;
        font-weight: bold;
        a:first-child{
            margin: 0px 2.5rem 0px 0px;
        }
        a:last-child{
            margin: 0px;
        }
    }
}
.popular-lists{
    border-bottom: 0px;
    .popular-list{
        padding: 1rem 0px;
        p{
            margin-bottom: 0px;
        }
        .popular-list-name{
            font-size: 14px;
            font-weight: bold;
            color: $secondry;
        }
        .popular-list-comments{
            color: grey;
        }
    }
}
.top-contributors{
    .contributor{
        border: 0px;
        border-bottom: 1px solid #dbdbdd;
        border-style: dashed;
        padding: 5px;
        p{
            margin-bottom: 0px;
            color: grey;
        }
        .name{
            color: $secondry;
        }
    }
}
.side-nav-heading{
    font-size: 20px;
    font-weight: normal;
}
.see_more{
    font-size: 14px;
    font-weight: bold;
}
.keyword{
    padding: 2px 5px;
    border-radius: 5px;
    margin: 0px 3px;
}

///////////////////////////////////////////////////////////////////////////

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 450px) {
    .listing-section{
        padding: 2rem 2rem;
    }
    .list-items{
        margin: 0px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}