.modal-content{
    padding: 4rem;
    border-radius: 16px;
    h2{
        margin-top: 0px;
        margin-bottom: 24px;
    }
    h4{
        margin-bottom: 24px;
    }
    .form-group{
        margin-bottom: 24px;
    }
    form:last-child .form-group{
        margin-bottom: 32px;
    }
    label{
        margin-bottom: 24px;
    }
    .cross-button{
        position: absolute;
        top: -20px;
        right: -20px;
        color: grey;
    }
}