* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #232322;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.i-b{
  display: inline-block;
}
.p-l{
  padding-left: 1rem;
}
.p-r{
  padding-right: 1rem;
}
.no-m{
  margin: 0px;
}
.no-p{
  padding: 0px;
}
.border{
  border: 1px solid $border-color;
}
.primary-color{
  color: $secondry;
}
.secondry-text{
  color: $secondry-text-color;
}
.secondry-backfround{
  color: $secondry !important;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$brand-success: #296ebd;
$loader-size: 8em;
$check-height: 7em;
$check-width: 2em;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 2px;
$check-color: $brand-success;

.circle-loader {
  margin: 0 0 30px 10px;
  border: $check-thickness solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  animation-name: loader-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.circle-loader,
.circle-loader:after {
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: $check-color;
  transition: border 500ms ease-out;
}
.checkmark-show{
  display: block !important;
}
.checkmark {
  display: none;
  
  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  
  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    left: $check-left;
    top: 4em;
    position: absolute;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.bg-darkblue{
  background-color: $dark-blue;
}
.outline-darkblue{
  border-color: $dark-blue;
}

.is-active {
  font-weight: bold;
}
.page-content {
  max-width: 1400px;
  margin: $s-size auto;
}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.full-width{
  width: 100%;
}
.Modal {
  position: absolute;
  top: 50%;
  left: 40px;
  right: 40px;
  max-width: 30rem;
  margin: auto;
  transform: translateY(-50%);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  opacity: 0.8;
}
.d-block {
  display: block;
}
.action-button{
  margin: 5px 0px;
}
.centered{
  text-align: center;
}
.small-modal{
  width: 100%;
  max-width: 380px;
}
.dark-blue{
  color: $dark-blue;
}
.login_button{
  background-color: #6a99ea;
}
.add_item_button{
  background-color: #6a99ea;
  color: #fff;
  border-color: transparent;
}
.add_list_button{
  background-color: #2F4D7F;
  color: #fff;
  border-color: transparent;
}
.facebook-primary-button{
  background-color: #4267b2;
  color: #fff;
  i{
    margin-right: 5px;
  }
}
.no-border{
  border: 0px;
}
.list-group-item{
  padding: 35px 15px;
  margin-bottom: 8px;
  border: 1px solid #dddddd9c;
}
.list-group-item:hover{
  box-shadow: 1px 1px 1px 1px lightgrey;
}
.header a{
  color: #ffffff;
  text-decoration: none;
}
.white{
  color: #ffffff;
}
.green{
  color: #5cb85c;
}
.red{
  color: red;
}
