* {
  box-sizing: border-box;
}

// @font-face {
//   font-family: "Open Sans";
//   src: url("/dist/OpenSans-Light.ttf") format("truetype"),
//        url("/dist/OpenSans-Regular.ttf") format("truetype"),
//        url("/dist/OpenSans-Bold.ttf") format("truetype");
// }
html {
  font-size: 62.5%;
}
body {
  color: #232322;
  font-family: 'Open Sans', sans-serif;
  // overflow-x: hidden;
}
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
h1{
  font-size: 32px;
}
h3{
  font-size: 20px;
}
.normal-font{
  font-size: 14px;
}
.regular{
  font-weight: normal;
}
.light{
  font-weight: lighter;
}
.bold{
  font-weight: bold;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.i-b{
  display: inline-block;
}
.p-l{
  padding-left: 1rem;
}
.p-r{
  padding-right: 1rem;
}
.no-m{
  margin: 0px;
}
.no-p{
  padding: 0px;
}
.border{
  border: 1px solid $border-color;
}
.primary-bg{
  background-color: $secondry;
}
.primary-color{
  color: $secondry;
}
.secondry-text{
  color: $secondry-text-color;
}
.secondry-backfround{
  color: $secondry !important;
}
.d-flex{
  display: flex !important;
}
.flex-row{
  flex-direction: row;
}
.flex-column{
  flex-direction: column;
}
.flex-reverse-columns{
  flex-direction: column-reverse;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-space-between{
  justify-content: space-between;
}
.justify-content-space-evenly{
  justify-content: space-evenly;
}
.popular{
  height: 3px;
  width: 90px;
  margin-bottom: 5rem;
  background-color: #286ec0;
}
.trending{
  height: 3px;
  width: 90px;
  margin-bottom: 5rem;
  background-color: #5dbd7a;
}
.latest{
  height: 3px;
  width: 90px;
  margin-bottom: 5rem;
  background-color: #f9ac31;
}
.your-lists{
  height: 3px;
  width: 90px;
  margin-bottom: 5rem;
  background-color: #e5494d;
}
.modal-backdrop.in{
  z-index: 11000;
}
.modal-open .modal{
  z-index: 12000;
}
.modal.in .modal-dialog{
  top: 50%;
  transform: translateY(-50%)
}
.modal.in .modal-dialog{
  max-width: 425px;
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Small devices (landscape phones, 576px and up)
@media (max-width: 450px) {
  h1{
    font-size: 24px;
  }
  h3{
    font-size: 18px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$brand-success: #296ebd;
$loader-size: 8em;
$check-height: 7em;
$check-width: 2em;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 2px;
$check-color: $brand-success;

.circle-loader {
  margin: 0 0 30px 10px;
  border: $check-thickness solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  animation-name: loader-spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.circle-loader,
.circle-loader:after {
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: $check-color;
  transition: border 500ms ease-out;
}
.checkmark-show{
  display: block !important;
}
.checkmark {
  display: none;
  
  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  
  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    left: $check-left;
    top: 4em;
    position: absolute;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: $check-width;
    opacity: 1;
  }
  40% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
  100% {
    height: $check-height;
    width: $check-width;
    opacity: 1;
  }
}


///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.bg-darkblue{
  background-color: $dark-blue;
}
.outline-darkblue{
  border-color: $dark-blue;
}

.is-active {
  font-weight: bold;
}
.page-content {
  max-width: 1400px;
  margin: $s-size auto;
}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.full-width{
  width: 100%;
}
.Modal {
  position: absolute;
  top: 50%;
  left: 40px;
  right: 40px;
  max-width: 30rem;
  margin: auto;
  transform: translateY(-50%);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  opacity: 0.8;
}
.d-block {
  display: block;
}
.action-button{
  margin: 5px 0px;
}
.centered{
  text-align: center;
}
.small-modal{
  width: 100%;
  max-width: 380px;
}
.dark-blue{
  color: $dark-blue;
}
.login_button{
  background-color: #6a99ea;
}
.add_item_button{
  background-color: #6a99ea;
  color: #fff;
  border-color: transparent;
}
.add_list_button{
  background-color: #2F4D7F;
  color: #fff;
  border-color: transparent;
}
.facebook-primary-button{
  padding: 5px 20px !important;
  background-color: #4267b2;
  color: #fff !important;
  margin-bottom: 8px;
  i{
    margin-right: 5px;
  }
}
.no-border{
  border: 0px;
}
.list-group-item{
  padding: 35px 15px;
  margin-bottom: 8px;
  border: 1px solid #dddddd9c;
}
.list-group-item:hover{
  box-shadow: 1px 1px 1px 1px lightgrey;
}
.header a{
  color: #ffffff;
  text-decoration: none;
}
.white{
  color: #ffffff;
}
.green{
  color: #5cb85c;
}
.red{
  color: red;
}
